# Ignore environment variable files
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
*/.venv*/
*/venv*/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
MANIFEST

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# Environments
*.log
